<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245842438782-d9ksp9v261ujervobq6eo1h4v27e52e6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245842438782-d9ksp9v261ujervobq6eo1h4v27e52e6</string>
	<key>API_KEY</key>
	<string>AIzaSyAcP3x28-6fYcSOyqjII--ESjeewriqlKo</string>
	<key>GCM_SENDER_ID</key>
	<string>245842438782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseapp1PasswordAuthetication</string>
	<key>PROJECT_ID</key>
	<string>fir-pro1-227f0</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-pro1-227f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245842438782:ios:6f903b269244ac2d5f462f</string>
</dict>
</plist>